<div class="row">
  <div class="col-xs-12">
    <img
      [src]="receipItem.imagePath"
      alt=""
      class="img-responsive"
      style="height: 300px"
    />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ receipItem.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onToShoppingClicked()" style="cursor: pointer;">To Shopping</a></li>
        <li><a href="#">Add Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">{{ receipItem.description }}</div>
</div>

<div class="row">
  <div class="col-md-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingr of receipItem.ingredients">
          <td>{{ ingr.name }}</td>
          <td>{{ ingr.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
